<div [@routerTransition]>

    <div class="block-header">
        <h2>DASHBOARD</h2>
    </div>
    <div class="row clearfix">
        <p-fileUpload type="file" customUpload="true" (uploadHandler)="myUploader($event)" placeholder="Upload file"
            accept=".csv"></p-fileUpload>

            <p-table [value]="hotels" [lazy]="true" (onSort)="onSort($event)"  [customSort]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let col of cols"  [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-hotel>
                        <tr>
                            <td *ngFor="let col of cols">
                                {{hotel[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
    </div>
   
</div>